html {
  height: 100%;
  width: 100%;
}

@font-face {
    font-family: ComicSans;
    src: url(fonts/ComicSansMS3.ttf);
}

body{
  background-color: black;
  background-image: url("images/shinestars.gif");
}

.welcome{
  color: #3aee33;
  background-color: black;
  width: 500px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 10px;
  border: solid #045700 3px;
  font-family: ComicSans;
  line-height: 50px;
}

.logo{
  vertical-align:middle;
  margin-bottom: 8px;
  height: 32px;
}

.error{
  color: #ff0000;
  background-color: black;
  width: 650px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 10px;
  border: solid #570000 3px;
  font-family: ComicSans;
  line-height: 50px;
}

.center {
  /* width: 50%;  set the width of the div */
  height: 50vh; /* set the height of the div */
  display: flex; /* use flexbox layout */
  align-items: center; /* center items vertically */
  justify-content: center; /* center items horizontally */
}